<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/static/viewer/index.css">
	<link rel="stylesheet" href="/static/viewer/croppie.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/static/viewer/croppie.min.js"></script>
</head>
<body>
	<h1>Image Viewer</h1>
	<img src="/static/media/{{ image.img.url }}"></img>

	<div class="viewedImg"></div>

	<!--<script>
		var basic = $('.viewedImg').croppie({
			viewport: {
				width: 500,
				height: 500
			},
			enableOrientation: true,
			enableResize: true
		});

		basic.croppie('bind', {
			url: '/static/media/{{ image.img.url }}',
		});
	</script>

	<div id="submittedImgs">

	</div>-->
</body>
</html>
